.appointment {
  width: 100%;
  flex: 1;
  background-color: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  overflow: auto;

  .table-container {
    height: 500px;
  }
  .searchdepartmentstep {
    display: flex;

    .dropdownstep {
      width: 280px;
      margin-right: 20px;
    }
  }
  .selectdatestep {
    width: 100%;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;

    .title {
      width: 100%;
      display: flex;
      margin: 20px 0 8px 0;
      font-weight: 600;
      font-style: italic;
      font-size: 17px;
    }

    .othersection {
      width: 40%;

      .date-picker-container {
        width: 240px;
        margin-left: 20px;
      }
      .textfield {
        margin-left: 40px;
      }
    }

    .basicInfoRender {
      display: flex;
      justify-content: space-between;
      width: 40%;
      height: 36px;
      margin: 0 0 4px 20px;
      .key {
        width: 30%;
        min-width: 140px;
        background-color: #dddddd;
        display: flex;
        align-items: center;
        padding-left: 8px;
      }
      .value {
        width: 60%;
        display: flex;
        align-items: center;
      }
    }
  }

}