.error-page{
    //for testing purpose, width and height set to full page
    width: 100vw;
    height: 100vh;
    // align-items: center;
    // justify-content: center;
    .content{
        width: 360px;

        display: flex;
        justify-content: center;
        align-items: center;
        .content-error-code{
            font-size: 10vw;
            line-height: 1em;
        }
        .content-header-text{
            font-size: 1.5em;
            margin-bottom: 10px;
        }
        .content-description{
            text-align: center;
            margin-bottom: 12px;
        }
        .buttons{
            .ms-Button{
                margin: 0 10px;
                border: 1px solid rgb(0, 120, 212);
                border-radius: 25px;
                color: rgb(0, 120, 212);
                &:hover{
                    color: #fff;
                    background: rgb(0, 120, 212);
                }
            }
        }
    }
}