$radius : 20px;

.login-container{
    width: 100vw;
    height: 100vh;
    background-color: #404B56;
    .login-form-header{
        z-index: 10;
        position: fixed;
        top: 0;

        background-color: #fff;
        height: 100px;
        width: 100%;

        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;       
        .form-header-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            padding: 0 88px;
            .img-div{
                display: flex;
                flex-direction: row;
                align-items: center;
                .header-text{
                    font-size: 24px;
                    color:rgb(0, 120, 212)
                }
            }
            img{
                height: 100px;
                width: 100px;
            }
        }
    }
    .login-form-container{
        width: 300px;
        padding: 30px 30px 30px 30px;

        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 4px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .form-container{
            justify-content: center;
            min-width: 240px;
            .logo{
                font-size: 36px;
                padding: 20px 0;
            }
            .ms-TextField-fieldGroup{
                &::after{
                    border: none;
                }
            }
            .welcome-text{
                font-size: 28px;
                font-weight: 700;
            }
            .error-message{
                color: #f31b1b;
                min-height: 28px;
                padding-bottom: 8px;
            }
            .log-in-btn{
                margin-bottom: 4px;            
            &:hover{
                color: rgb(0, 120, 212);
                background-color: rgb(255 255 255 / 0.2);                    
                backdrop-filter: blur(20px);
                }
            }
        }
        .form-image{
            height: 300px;
        }
    }
}
