$radius : 20px;

.login-container{
    width: 100vw;
    height: 100vh;
    background-image: url("https://res.cloudinary.com/dipiauw0v/image/upload/v1682224546/DATN/Login-background_juqlm4.jpg");
    background-size: cover;
    .login-form-container{
        width: 600px;
        padding: 50px 30px 30px 30px;
    
        background-color: rgb(255 255 255 / 0.3);
        backdrop-filter: blur(10px);
        border: 1px solid #fff;
        border-radius: $radius;

        display: flex;
        flex-direction: row;
        .form-container{
            justify-content: center;
            min-width: 240px;
            input{
                color: #fff;
            }            
            label {
                color: #fff;
            }
            .ms-TextField-fieldGroup{
                border-radius: $radius;
                border: 1px solid #fff;
                background-color: rgb(255 255 255 / 0.3);
                backdrop-filter: blur(10px);

                &::after{
                    border: none;
                }
                .ms-TextField-reveal{
                    background-color: transparent;
                    color: #fff;
                }
            }
            .welcome-text{
                font-size: 28px;
            }
            .error-message{
                color: #F3BB1B;
                min-height: 28px;
                padding-bottom: 8px;
            }
            .log-in-btn{
                border-radius: $radius;
                border: 1px solid #fff;
                backdrop-filter: blur(10px);
                margin-bottom: 4px;
                
                background-color: rgb(255 255 255 / 0.3);
                color: #fff;
            
            &:hover{
                background-color: rgb(255 255 255 / 0.3);                    
                backdrop-filter: blur(20px);
                }
            }
        }
        .form-image{
            height: 300px;
        }
    }
}
