$header-height: 60px;
$theme-blue: rgb(0, 120, 212);

.login-container{
    width: 100vw;
    height: 100vh;
    background-image: url("https://res.cloudinary.com/dipiauw0v/image/upload/v1681017217/DATN/login-background_n4dhzx.jpg");
    background-size: cover;
    .login-form-container{
        width: 300px;
        padding: 50px 30px 30px 30px;
        border: 1px solid rgb(0, 120, 212);
        border-radius: 8px;
        background-color: white;
    }
}

.home-container{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    .home-content{
        width: 1200px;
        min-height: 100vh;

        display: flex;
        flex-direction: row;

        .left-content{
            height: 100vh;
            width: 220px;

            display: flex;
            justify-content: space-between;
            .header-container{
                height: $header-height;
                .nav-header{
                    height: 42px;
    
                    color: $theme-blue;
                    font-size: 24px;
                    font-weight: bold;
    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .right-content{
            width: 980px;
            .header-content{
                height: $header-height;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .header-text{
                    
                }
                .header-icon-group{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                }
            }
        }
    }
}