.main-panel {
  width: 100%;
  
  .ms-Panel-main {
    width: 25%;
    min-width: 340px;
    height: 100vh;

    .ms-Panel-contentInner {
      flex: 1;

      .ms-Panel-scrollableContent {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .ms-Panel-commands {
          padding-top: 0;
        }

        .ms-Panel-content {
          height: 100%;
          padding-right: 0;

          .panel-content {
            height: 100%;
          }
        }
      }
    }
  }
}