.uniform-panel-wrapper {
  height: 100%;

  .uniform-panel-header {
    height: 8%;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .uniform-panel-content {
    height: 84%;
    padding: 0 28px 0 8px;

    // overflow-y: scroll;
    overflow: auto;
  }

  .uniform-panel-footer {
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 32px;
  }
}