.cure-details {
  .cure-details-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .cure-details-header {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      color: #1f8384;
      border-bottom: 1px solid #e4e4e4;
    }
    .cure-details-content {
      padding: 16px;

      .cure-details-content-item {
        margin-bottom: 16px;
        .uniform-section-content {
          .basicInfoRender {
            width: 40%;
            min-width: 250px;
            .key {
              font-weight: normal !important;
            }
          }
        }
      }
    }
  }
}
.content-section {
  padding: 12px 0;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .content-test-result {
    width: 100%;
    display: flex;
    border: 1px solid #e7e7e7;
    padding: 6px 0;
    .content-test-result-title {
      width: 180px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0 6px;
      .content-test-result-download {
        i {
          margin-left: 4px;
        }
        border: none;
        width: 100px;
      }
      .content-test-result-service {
        margin-bottom: 4px;
        text-align: center;
        height: 28px;
        line-height: 28px;
        background-color: #e7e7e7;
        width: 100%;
      }
    }
    .content-test-result-reason {
      flex: 1;
      padding-top: 4px;
    }
  }
}