.create-container{
    box-sizing: border-box;
    padding: 20px 40px;
    .form-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .left-field{
            width: 50%;
        }
        .right-field{
            width: 25%;
        }
    }
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 20px;
    }
}