.main-sidebar {
    width: 240px;
    position: fixed;
    transition: all 0.5s;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    .bars {
        display: none;
        position: absolute;
        top: 15px;
        right: -42px;
        background-color: #fff;
        height: 42px;
        width: 42px;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .sidebar{
        height: 100%;
        position: relative;
        background-color: #111827;
        .top-section{
            display: flex;
            justify-content: center;
            .logo{
                object-fit: cover;
                height: 90px;
            }
        }
        .menu-section{
            .link{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;

                color: #9CA3AF;    
                text-decoration: none;
                font-size: 18px;
                padding: 18px 0 18px 16px;
                border-left: 4px solid transparent;
                &:hover{
                    color: #fff;
                }
                .link-icon-text{
                    display: flex;
                    .icon{
                        min-width: 30px;
                        // display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .link_text {
                        margin-left: 4px;
                    }
                }
                .link-arrow{
                    padding-right: 20px;
                }
            }
            .link.active {
                color: #fff;
                background: linear-gradient(to right, #111827, #374151);
            }
            .route-child{
                .link-icon-text{
                    padding-left: 20px;
                }
            }
        }
    }
    &.sidebar-responsive {
        margin-left: 0px;
    }
}

