.sidebar{
    height: 100%;
    background-color: #0e0f38;
    transition: all 0.5s;
    .top-section{
        display: flex;
        justify-content: center;
        .logo{
            object-fit: cover;
            height: 90px;
        }
    }
    .menu-section{
        .link{
            display: flex;
            flex-direction: row;

            color: white;    
            text-decoration: none;

            font-size: 18px;

            padding: 18px 0 18px 24px;

            &:hover{
                background-color: #294a7c;
            }
            .icon{
                min-width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
