.file-card{
    background-color: #edf2f7;
    border: 3px dashed #cbd5e0;
    .file-input{
        position: relative;
        overflow: hidden;
        display: inline-block;

        .upload-btn{
            width: 100%;
            height: 100%;

            &:hover{
                cursor: pointer;
            }
        }
        input[type=file] {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
    }
}