$header-height: 60px;
$theme-blue: rgb(0, 120, 212);

@media (max-width: 479px) {
    //login layout
    .login-container{
        justify-content: flex-start;
        height: auto !important;
        .login-form-header{
            display: none;
        }
        .login-form-container{
            width: 100% !important;
            display: flex;
            align-items: flex-start;
            border-radius: 0 !important;
            box-shadow: none !important;
        }
    }
}

@media (max-width: 400px) {
    #uniform-header {
        .header-info .header-text {
            width: 40% !important;
        }
    }
}

@media (max-width: 480px) {
    .menu-section {

        .status-news {
            min-width: 310px !important;
        }
    }
    .welcome-image {
        display: none;
    }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
    .bars{
        display: flex !important;
    }
    .main-sidebar {
        margin-left: -240px;
    }
    .main-wrapper {
        margin-left: 0 !important;
        width: 100% !important;
    }
    #uniform-header {
        width: 100% !important;
    }
}
    
// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .home-right-section {
        display: none;
    } 
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1300px) {
    .welcome-section {

        .welcome-block {
            width: 49% !important;
        }
        .welcome-left {
            width: 100% !important;
            margin-bottom: 20px;
        }
    }
}

#layout-wrapper {

  .common-error {
    font-size: 12px;
    color: rgb(164, 38, 44);
    margin: 4px 0;
  }

    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;

    .main-wrapper {
        margin-left: 220px;
        width: calc(100% - 220px);
        box-sizing: border-box;
        background-color: rgb(247, 247, 247);
        .main-content{
            flex: 1;
            padding: 0 40px 20px 40px;
            margin-top: 90px;
            height: calc(100% - 90px);

            .wrapper-table-content {
                width: 100%;
                height: 100%;
                display: flex;
            }
            .header-breadcrumb {
                height: 48px;
            }
            .main-content-wrapper {
                width: 100%;
                height: 100%;
                max-height: calc(100% - 48px);
                display: flex;
                overflow: auto;
            }
        }
    }

}

