.breadcrumbs{
  z-index: 9001;
  .ms-Breadcrumb {
    margin: 0 !important;
  }
    .ms-Breadcrumb-list {
        .ms-Breadcrumb-listItem:not(:last-child) {
            display: block;
            height: 32px;
            *:hover{
                background: none;
            }
            .ms-TooltipHost{
                color: #0e0f38;
                font-size: 22px;
            }
            &:first-child {
                .ms-Breadcrumb-item,
                .ms-Link{
                    margin-left: 0;
                    padding-left: 0;
                }
            }
        }
        .ms-Breadcrumb-listItem:last-child {
            display: block;
            height: 36px;
            *:hover{
                background: none;
            }
            .ms-TooltipHost{
                color: #1f8384;
                font-size: 24px;
            }
            &:first-child {
                .ms-Breadcrumb-item,
                .ms-Link{
                    margin-left: 0;
                    padding-left: 0;
                }
            }
        }
    }
}