.dialog-content{
    .result-section{
        padding: 20px 0;
        .patient-preview{
            width: 100%;

            border: 1px solid;
            padding: 8px;
        }
    }
}

.modal-process-container {
  .ms-Dialog-main {
    width: 80%;
    height: 88%;
    .ms-Modal-scrollableContent {
      overflow-y: hidden;
      height: 100%;

      .modal-wrapper {
        height: 100%;

        .modeal-header {
          height: 52px;
          font-size: 24px;
          margin: 0 40px;
          text-align: center;
          line-height: 52px;
          font-weight: 600;
          border-bottom: 1px solid #d5d5d5;
        }

        .modeal-content {
          overflow-y: auto;
          height: calc(100% - 104px);
          padding: 12px 40px;

          .section {
            width: 100%;

            .header-section {
              text-decoration: underline;
              font-size: 18px;
              font-weight: 600;
            }
            .content-section {
              padding: 12px 0;
              display: flex;
              width: 100%;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: center;

              .basicInfoRender {
                width: 30%;
              }
              .content-section-input {
                display: flex;
                align-items: start;
                padding: 0 20px;
                width: 30%;
                margin-bottom: 32px;
                .ms-TextField {
                  width: calc(100% - 52px);
                  height: 32px;
                  display: inline-block;
                }
                .unit {
                  margin-left: 4px;
                  height: 32px;
                  width: 48px;
                  line-height: 32px;
                }
              }
              .content-section-input.width50per {
                width: 50%;
              }
              .content-section-input.width30per {
                width: 30%;
                min-width: 200px;
              }
              .content-section-input.width70per {
                width: 70%;
                min-width: 300px;
              }
              .content-section-input.width100per {
                width: 100%;
              }
              .content-test-result {
                width: 100%;
                display: flex;
                border: 1px solid #e7e7e7;
                padding: 6px 0;
                .content-test-result-title {
                  width: 180px;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: center;
                  padding: 0 6px;
                  .content-test-result-download {
                    i {
                      margin-left: 4px;
                    }
                    border: none;
                    width: 100px;
                  }
                  .content-test-result-service {
                    margin-bottom: 4px;
                    text-align: center;
                    height: 28px;
                    line-height: 28px;
                    background-color: #e7e7e7;
                    width: 100%;
                  }
                }
                .content-test-result-reason {
                  flex: 1;
                  padding-top: 4px;
                }
              }

              .test-section {
                width: calc(50% - 4px);
                min-width: 300px;
                margin-right: 4px;
                margin-bottom: 8px;
                padding: 4px 8px;
                border: 1px solid #DDDDDD;

                .test-resutl {

                  .no-error {
                    height: 19px;
                  }
                }
              }
            }
          }
          .section:last-child {
            margin-bottom: 20px;
          }
        }

        .modeal-footer {
          height: 52px;
          float: right;
          margin: 0 40px;

          & > * {
            margin-left: 8px;
            min-width: 120px;
          }
        }
      }
    }
  }
}

.testing-request-dialog {
  margin-bottom: 8px;
}