$radius : 20px;

.login-container{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;

    #overlay-login {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 99;
    }

    .login-form-container{
        min-width: 390px;
        width: 25%;
        padding: 30px 40px;
        border-radius: 4px;
        z-index: 100;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .form-container{
            justify-content: center;
            width: 100%;
            .logo {
                font-size: 36px;
                padding: 20px 0;
            }
            .ms-TextField {
              margin-bottom: 8px;
            }
            .ms-TextField-fieldGroup{
              border: none;
              box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
                &::after{
                    border: none;
                }

              .ms-TextField-field {
                padding: 8px;
                font-size: 16px;
              }
              .ms-TextField-reveal {
                height: 32px;
                color: #333;
                background-color: #fff;
                &:hover {
                  cursor: pointer;
                  background-color: #fff;
                }
              }
            }
            .error-message{
                color: #f31b1b;
                min-height: 28px;
                padding-bottom: 8px;
                font-size: 14px;
            }
            .log-in-btn{
              background-color: #39688a;
              color: #fff;
              margin-bottom: 4px;
              height: 40px;   
              border: none; 
              box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
              &:hover{
                  background-color: #345e7c;
                  cursor: pointer;
              }
              .ms-Button-label {
                font-size: 18px;
              }
            }
        }
        .form-image{
            height: 300px;
        }
    }
}
