$header-height: 60px;
$theme-blue: rgb(0, 120, 212);

#layout-wrapper {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: row;

    .left-wrapper {
        

    }

    .right-wrapper {
        width: 100%;
        min-height: 100%;
        box-sizing: border-box;
        padding: 16px 40px;
        background-color: #f6faff;
        .main-content{
            padding-top: 16px;
        }
    }

}

@media (max-width: 479px) {
    //login layout
    .login-container{
        justify-content: flex-start;
        height: auto !important;
        .login-form-header{
            display: none;
        }
        .login-form-container{
            width: 100% !important;
            display: flex;
            align-items: flex-start;
            border-radius: 0 !important;
            box-shadow: none !important;
        }
    }
}

@media (min-width: 480px) {
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

 }
    
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .bars{
        display: none;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
 }
