.wrapper-table-content{
    
    .user-profile{
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 20px;
        margin-top: 10px;
        border-radius: 8px;
        .profile-header{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .profile-info{
            display: flex;
            flex-direction: row;
            .profile-basic-info{
                width: 25%;
                min-width: 170px;
                align-items: center;
                padding-right: 20px;

                .profile-change-password{
                    width: 150px;
                    .file-card{
                        height: 30px;
                        border: none;
                        .file-input{
                            height: inherit;
                            .upload-btn{
                                background-color: #fff;
                                border-radius: 8px;
                            }
                            &:hover{
                                cursor: pointer;
                                background-color: #eee;
                            }
                        }
                    }
                }
            }
            .profile-detail-info{
                flex: 1;
                padding-left: 10px;
                
                .detail-info-content{
                    overflow: auto;

                    .ms-Label{
                        min-width: 160px;
                    }
                    .top-detail-info{
                        margin-bottom: 20px;
                        padding: 8px;
    
                        border: 1px solid #eee;
                    }
                    .bottom-detail-info{
                        padding: 8px;
    
                        border: 1px solid #eee;
                    }
                }
                .footer-button{
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}


//660
@media (max-width: 660px) {
    // .user-profile{
    .wrapper-table-content .user-profile .profile-info{
        flex-direction: column ;
        align-items: center;
    }
// }
}