.home-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    height: 52px;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    padding: 16px 0;
  }

  .content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .chart-container-wrapper {
      width: calc(50% - 10px);
      height: calc(50% - 8px);
    }
    .chart-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
      border-radius: 15px;
    }

    .doctor-section-container {
      width: 100%;
      height: calc(40% - 20px);
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;

      .doctor-section {

        hr {
          color: #ccc;
          margin: 0 32px;
          height: 4px;
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24%;
        height: 100%;
        background-color: #fff;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        border-radius: 15px;
        padding: 28px;

        .date {
          font-style: italic;
          font-size: 16px;
          font-weight: 600;
          text-align: center;
        }

        .information {
          font-size: 16px;
        }

        .department {
          font-style: italic;
        }
        .title {
          font-size: 16px;
          font-weight: bold;
        }
        .total {
          padding-left: 20px;
          font-size: 90px;
        }
        .details {
          text-align: end;
        }
      }
    }

    .patient-section-container {
      border: 1px solid #ccc;
      width: 100%;
      &.section1 {
        height: 30%;
      }
      &.section2 {
        height: 70%;
        padding-top: 12px;
      }

      .patient-section {
        // background-color: #fff;
        // box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        // border-radius: 15px;
        height: 100%;
        width: 100%;
        padding: 20px;

        .patient-section-header {
          display: flex;
          justify-content: space-between;
          padding-bottom: 12px;

          .title {
            color: RGBA( 25, 25, 112, 1 );
            font-style: italic;
            font-size: 20px;
            font-weight: bold;
            border-bottom: 2px solid RGBA( 25, 25, 112, 1 );
          }
        }
        .patient-section-content {
          padding: 20px;

          .text {
            padding-bottom: 12px;
            font-style: italic;
          }
          .health {
            padding-top: 20px;
            .title {
              width: fit-content;
              font-style: italic;
              font-weight: bold;
            }
            .heath-items {
              width: 100%;
              display: flex;
              justify-content: space-evenly;
              flex-wrap: wrap;
              padding-top: 20px;

              .health-item {
                width: calc(25% - 30px);
                background-color: #fff;
                box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
                border-radius: 15px;
                padding: 20px;
                min-height: 160px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .health-content-text {
                  text-align: end;
                }

                .health-content {
                  display: flex;
                  justify-content: space-between;

                  img {
                    height: 32px;
                  }

                  div {
                    font-size: 28px;
                  }

                  .health-content-unit {
                    padding-left: 4px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .chart-container-wrapper {
    width: 100% !important;
    max-height: 360px;
  }
}