.home-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    
    .home-left-section{
        width: 100%;
        margin-right: 40px;

        .welcome-section{
            width: 100%;
            background-color: #fff;
            border-radius: 25px ;
            box-sizing: border-box;
            padding: 20px;
            margin-bottom: 20px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            
            position: relative;
            .welcome-text{
                display: flex;
                flex-direction: column;
                justify-content: center;

                max-width: 500px;
                .text-header{
                    font-size: 24px;
                }
                .text-remind{

                }
            }
            .welcome-image{
                position: absolute;
                height: 150px;    
                
                right: 90px;
                bottom: 0
            }
        }
        .menu-section{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .basic-status{
                width: 100%;
                .status-container{
                    width: 180px;

                    border-radius: 20px;
                    background-color: #fff;
                    box-sizing: border-box;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    padding: 20px;
                    .status-info{
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        img{
                            height: 48px;
                            width: 48px;
                        }
                    }
                    .status-name{
                        font-size: 24px;
                        font-weight: 700;
                    }
                    .status-description{}
                }
            }
            .status-news{

            }
        }
    }
    .home-right-section{
        width: 360px;
        background-color: #2e3192;
        border-radius: 25px;

        .preview-profile{
            align-items: center;
            min-height: 80vh;

            .profile-info{
                align-items: center;
                color: #fff;

                padding: 40px;
                .info-name{
                    margin-top: 10px;
                }
            }
            .calendar {
                background: #fff;
                border-radius: 25px;
            }
        }
    }
}