.home-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    height: 52px;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    padding: 16px 0;
  }

  .content {
    height: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    & > div {
      background-color: #fff;
      border: 1px solid #ccc;
    }

    .width50per {
      width: 50%;
    }
    .height60per {
      height: 60%;
    }
    .height40per {
      height: 40%;
    }
    .chart-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}