.table-container{
    flex: 1;
    max-height: 80vh;
    width: 100%;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    // overflow: scroll;
    padding-top: 20px;
    
    .details-list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .details-list-sub-header {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            height: 60px;
            .details-list-sub-header-item {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              height: 100%;
            }
        }

        .details-list-wrapper {
            width: 100%;
            height: 100%;
            overflow: scroll;

            .details-list-no-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 40px;

                img {
                    height: 100px;
                }

                p {
                    font-style: italic;
                    color: #8f8f8f;
                    font-size: 18px;
                    font-weight: 500;
                    margin-top: 8px;
                }
            }

            .ms-DetailsHeader-cellName {
                font-size: 16px;
            }

            .ms-DetailsRow-cell {
                font-size: 16px;
            }
        }
    }

}