.toast {
  position: fixed;
  z-index: 10000000;
  top: 20px;
  right: 20px;
  min-width: 360px;
  min-height: 68px;
  border-radius: 4px;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  animation: slide-in 0.3s ease-in-out forwards;
  transform: translateX(100%);
  background-color: #fff;

  .toast-icon {
    height: 26px;
    width: 26px;
    margin: 0 12px;
  }

  .toast-message {
    max-width: 320px;
    min-width: 100px;
  }

  .toast-cancel {
    margin-right: 12px;
    
    &:hover {
      background-color: transparent;
    }
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}